.header-root{
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: #11698E;
  padding: 20px;
  .header-main {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 40%;
    .header-title{
      margin: 0 auto;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 37px;
      color: #FFFFFF;
    }
  }
}